body {
	font-family: 'Raleway', 'Montserrat', sans-serif;
	font-size: 20px;
}
.nav-link.active, .nav-link:hover, .card {
	border-radius: 0;
}
a.nav-link, .tab-content {
	color: whitesmoke;
}
.nav-link.sub {
	border-left: 2px solid transparent;
	background-color: transparent;
	transition: border-color 1s linear;
	-moz-transition: border-color 1s linear;    /* FF3.7+ */
	-o-transition: border-color 1s linear;      /* Opera 10.5 */
	-webkit-transition: border-color 1s linear; 
}
.nav-link.sub.active {
	border-left-color: whitesmoke;
	background-color: transparent;
}
a.nav-link.sub {
	padding: 0;
	padding-left: 8px;
	margin-top: 10px;
}
.card {
	background-color: rgba(0,0,0,.5);
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}
.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
}
.panel-title {
	font-size: 14px;
}
.panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
}
.more-less {
	float: right;
	color: #212121;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
