body {
	font-family: 'Raleway', 'Montserrat', sans-serif;
	font-size: 20px;
}
.nav-link.active, .nav-link:hover, .card {
	border-radius: 0;
}
a.nav-link, .tab-content {
	color: whitesmoke;
}
.nav-link.sub {
	border-left: 2px solid transparent;
	background-color: transparent;
	transition: border-color .7s linear;
	-moz-transition: border-color .7s linear;    /* FF3.7+ */
	-o-transition: border-color .7s linear;      /* Opera 10.5 */
	-webkit-transition: border-color .7s linear; 
}
.card {
	background-color: rgba(0,0,0,.5);
}
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}
.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: rgba(0,0,0,.7);
	border-color: #EEEEEE;
}
.panel-title {
	font-size: 14px;
}
.panel-title > a {
	display: block;
	padding: 15px;
	font-size: 18px;
	text-decoration: none;
	color: white;
}
.more-less {
	float: right;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.form-control {
	display: block;
	width: 100%;
	padding: 0.4375rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: rgba(255, 255, 255, 1);
	background-clip: padding-box;
	border: 1px solid #d2d2d2;
	border-radius: 0;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}
.form-control:focus {
	color: white;
	background-color: rgba(0, 0, 0, .5);
	border-color: #9acffa;
	outline: 0;
	box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}
.form-control:not(:placeholder-shown) {
   background-color:  rgba(0, 0, 0, .5) !important;
   color: white;
}
.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-group label {
	padding: 0;
	margin: 0;
	color: whitesmoke;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: navy; 
}


